* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dashed olivedrab;
  font-family: sans-serif;
}

body {
  color: #ffff;
  background-color: #3f3f3f;
}

a {
  text-decoration: none;
  color: wheat;
}

main {
  margin: 0 auto;
}
h1 {
  font-size: 2rem;
  color: #white;
}

.container {
  padding: 0.8rem;
  max-width: 95vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: inherit;
  }
}
