.post_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 45vw;
    border-radius: 0.5rem;
  }

  .post_title {
    margin: 1rem 2rem;

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
