.post_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }

  .post_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;

    h1 {
      margin: 0;
    }

    p {
      margin: 10px 0;
    }
  }

  time {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
  }
}

@media (min-width: 651px) {
  .post_container {
    flex-direction: row;

    img {
      width: 100%;
      max-width: 500px; // Change the width to 50%
    }

    .post_title {
      width: 50%; // Change the width to 50%
      align-items: flex-start;
      text-align: left;
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
